<!--install .m2 and add the settings.xml 
also, go to sonatype learn and follow the first time installation and
setup tutorial using the existing nexus repo
check if there is a username/password on selenium that can be reused -->

<settings>
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://localhost:8081/repository/maven-proxy-test/</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>

<servers>
  <server>
  <!-- These may need to be renamed 'nexus' instead of 'releases' and 'snapshots'-->
    <id>releases</id>
    <username>admin</username>
    <password>KQ!473h19%lD</password>
  </server>
  <server>
    <id>snapshots</id>
    <username>admin</username>
    <password>KQ!473h19%lD</password>
  </server>
</servers>